<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Configuration des propriétés -->
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.current_session_context_class">managed</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@telline.univ-tlse3.fr:1521:ETUPRE</property>
        <property name="hibernate.connection.username">ctq4266a</property>
        <property name="hibernate.connection.password">toor</property>

        <!-- Mapping de classes d'entités -->
        <mapping class="modele.dataRepresentation.Arbitre"/>
        <mapping class="modele.dataRepresentation.Composer"/>
        <mapping class="modele.dataRepresentation.Ecurie"/>
        <mapping class="modele.dataRepresentation.Equipe"/>
        <mapping class="modele.dataRepresentation.Gerant"/>
        <mapping class="modele.dataRepresentation.Inscrit"/>
        <mapping class="modele.dataRepresentation.Jeu"/>
        <mapping class="modele.dataRepresentation.Jouer"/>
        <mapping class="modele.dataRepresentation.Joueur"/>
        <mapping class="modele.dataRepresentation.Poule"/>
        <mapping class="modele.dataRepresentation.Tournoi"/>
        <mapping class="modele.dataRepresentation.Rencontre"/>

    </session-factory>
</hibernate-configuration>
